{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Rating</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type = "text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
        <div class="container">


                <form method="post">
                    <div class="input">
                    <textarea id="uname" name="name" placeholder="Paste your review"></textarea>
                    <button type="submit">Submit</button>
                    {% csrf_token %}
                    </div>
                </form>

            <div class="result-div">
                <span class="score-text">Your score is: </span>
                <span class="result-span">{{ score }}</span>
            </div>
            <div class="mood-div">
                <span class="mood-text">your review is </span>
                <span class="mood-span" {{ color }}>{{ type }}</span>
            </div>
        </div>
    
</body>
</html>